:root {
  --primary: #ff4545;
  --white: #fff;
  --black: #222;
  --grey1: #3a3b3c;
  --grey2: #828282;
}

.cart-labels > * {
  background-color: var(--primary);
}
.cart__total {
  border-top: var(--primary) 3px solid;
  font-size: 1.2rem;

  &-btn-checkout {
    background-color: var(--primary);
    color: var(--white);
    border-radius: 50px;
    font-size: 1.2rem;
  }
  &-btn-continue-shopping {
    background-color: var(--white);
    color: var(--primary);
    border: solid 1px var(--primary);
    border-radius: 50px;
    font-size: 1.2rem;
  }
}
