:root {
  --primary: #ff4545;
  --white: #fff;
  --black: #222;
  --grey1: #3a3b3c;
  --grey2: #828282;
}

.product-card {
  cursor: pointer;
}

.product-card:hover .product-card__overlay {
  left: 70%;
  opacity: 1;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.product-card:hover .product-card__btn-cart {
  border-radius: 10px;
}

.product-card:hover .product-card__btn-cart:hover {
  background-color: var(--primary);
}

.product-card:hover .product-card__btn-cart:hover i {
  color: var(--white);
}

.product-card:hover .btn-search:hover {
  background-color: var(--primary);
  border-radius: 10px;
}

.product-card:hover .btn-search:hover i {
  color: var(--white);
}

.product-card:hover .btn-like:hover {
  background-color: var(--primary);
  border-radius: 10px;
}

.product-card:hover .btn-like:hover i {
  color: var(--white);
}

.product-card__img-container {
  position: relative;
}

.product-card__img {
  width: 100%;
  display: block;
}

.product-card__overlay {
  position: absolute;
  padding: 1rem;
  top: 0%;
  left: 100%;
  height: 70%;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
}

.product-card__overlay .product-card__btn {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 1rem;
  position: relative;
  height: 20px;
  width: 20px;
  outline: none;
  border: none;
  background-color: #ddd;
  padding: 1rem;
}

.product-card__cart-input-overlay {
  position: absolute;
  z-index: 3;
  top: 70%;
  left: 70%;
  width: 30%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product-card__cart-input-overlay .product-card__btn-cart {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 1.5rem;
  position: relative;
  background-color: #ddd;
  border: none;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.product-card__product-name-link {
  color: var(--black);
  text-decoration: none;
}

.product-card__product-name-link:hover {
  color: var(--primary);
}

.product-card__product-name-link {
  color: var(--black);
  font-size: 1rem;
  text-decoration: none;
}

.product-card__product-name-link:hover {
  color: var(--primary);
}

.product-card__product-price {
  color: var(--primary);
  font-size: 1.1rem;
}

i {
  position: absolute;
  font-size: large;
  color: black;
  left: 23%;
  top: 25%;
}
/*# sourceMappingURL=ProductListItem.css.map */